<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Covid-19 Prediction Model</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Covid-19 Predictor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="card bg-info mb-3">
    <marquee class="alert alert-danger">Note: We are using Random Data, So Prediction may not be accurate. By using real
      data & analysis we might get accurate results.For Educational Purpose only </marquee>
    <p class="alert alert-success text-center">Contribute in Survey for Covid-19 <a href="#" class="btn btn-link">Click
        Here</a></p>
  </div>
  <div class="jumbotron text-center mt-3">
    <h1 class="display-5">Covid-19 Predictor</h1>
    <p class="lead">Made by Raj Shah, Sanket Magodia, Rushabh Mehta using Logistic Regression ML Model</p>


  </div>
  <div class="container text-center alert-success">
    <h3>Pateints Probability of Covid-19 Infection: {{inf}}%</h3><br />
    <h3>{{r}}</h3><br />
  </div>
  <hr>
  <div class="container text-center">
    <a class="btn btn-lg btn-primary" href="/">Go Back</a>
  </div>
  <br /></br>


  <div class="container">
    <footer style="color:black">
      <p class="text-center">Copyright UCoE &copy 2020</p>
    </footer>
  </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>